body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

.container{
    max-width: 500px;
    margin: auto;
   
    justify-content: center;
    align-items: center; 
}

.heading{
    margin: 0;
    display:flex;
    justify-content: center;
    align-content: center; 
    margin-bottom: 30px;
    text-align: center;
}


input{
    box-sizing: border-box;
    box-shadow: inset;
}

.card {
    width: 40%;
    margin: 0 auto; 
    padding: 20px; 
    border: 2px solid #000; 
    border-radius: 10px; 
    padding-bottom: 3rem;
}



